<footer>
    <div class="liste_footer">
        <div class="container_list">
            <ul class="list">
                <li><a href="{{ path('miel') }}">Miels</a></li>
                <li><a href="{{ path('epiceriefine') }}">Epicerie fine</a></li>
                <li><a href="{{ path('bienetre') }}">Bien-être</a></li>
                <li><a href="{{ path('coffretscadeaux') }}">Coffrets Cadeaux</a></li>                  
            </ul>
        </div>
        <div class="container_list">
            <ul class="list">
                <li><a href="{{ path('quisommesnous')}}">Qui-sommes nous?</a></li>
                <li><a href="{{ path('livraison')}}">Livraison et retours</a></li>
                <li><a href="{{ path('paiment')}}">Paiment sécurisé</a></li>
                <li><a href="{{ path('cgv')}}">Mentions légales et CGV</a></li>
            </ul>
        </div>
        <div class="container_list">
            <ul class="list">
            {% if app.user %} 
                <li><a href="{{ path('compte')}}">Mon compte</a></li>
            {% endif %} 
                <li><a href="{{ path('cart_index') }}">Commandes</a></li>
                <li><a href="{{ path('add-contact')}}">Contact</a></li>                    
            </ul>
        </div>
    </div>
    <div class="copyright">
        <div class="div_copy">
            <ul id="ul_copy">
                <li>Copyright &copy; 2021</li>
                <li>Groupe 3: Amine, Lylia, Patrick</li>
            </ul>
        </div>
    </div>

</footer>

    {% block javascripts %}
    <script src="assets/js/menu.js" ></script>
    <script src="assets/js/panier.js" ></script>
    <script src="assets/js/search.js" ></script>
    <script src="assets/js/scroll.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6e1e5f7faa.js" crossorigin="anonymous"></script>    
{% endblock %}

  </body>
</html>
